* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
    transition: background-color 0.5s;
}

.calculator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #007bff;
    border-radius: 10px 10px 0 0;
    color: white;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    background-color: #222;
    color: #ffffff;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    background-color: #eee;
}

.btn:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.btn-operator {
    background-color: #ff9500;
    color: white;
}

.btn-operator:hover {
    background-color: #ff7f00;
}

.btn-equal {
    background-color: #28a745;
    color: white;
    grid-column: span 2;
}

.btn-equal:hover {
    background-color: #218838;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #181818;
}

.calculator.dark-mode {
    background-color: #282c34;
}

.calculator-screen.dark-mode {
    background-color: #444;
    color: #ffffff;
}

.btn.dark-mode {
    background-color: #3a3a3a;
    color: #ffffff;
}

.btn-operator.dark-mode {
    background-color: #ff9800;
}

.btn-equal.dark-mode {
    background-color: #4caf50;
}
